html{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
body{
    background-color:hsl(212, 45%, 89%) ;
    font-family: 'Outfit', sans-serif;
    width:100%;
    min-height: 100vh ;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
h1{
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

footer{
    margin: 100px auto;
    color:  hsl(220, 15%, 55%);
    
}
 a{
    text-decoration: none;
 }

.card {
    /* Add shadows to create the "card" effect */
   text-align: center;
   border: 1px solid white;
   border-radius: 1rem;
   width: 15.6rem;
   padding: 1rem 1rem 1.5rem 1rem;
   background-color: hsl(0, 0%, 100%);
   transition: box-shadow .5s;
  }
   .img-qr{
    max-width: 100%;
    border-radius: .75rem;
   }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 11px 39px 9px hsl(210, 30%, 78%);
  }
  
 

  
